.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

src/main/js/build
src/main/js/node_modules
src/main/resources/static/static
src/main/resources/static/asset-manifest.json
src/main/resources/static/favicon.ico
src/main/resources/static/index.html
src/main/resources/static/manifest.json
src/main/resources/static/service-worker.js
